.form {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.form__input {
  height: 30px;
}

.select {
  width: 150px;
}

.form__button {
  height: 30px;
  background-color: transparent;
}